.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 110px;
}

.category-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 2%;
    flex: 100%;
}
.categories {
    flex: auto;
}

h1 {
    text-align: center;
    color: #ff9f1c;
}

h2 {
    color: #ff9f1c;
    /*color:#2ec4b6;*/
}

h3 {
    color: #ff9f1c;
    /*color:#2ec4b6;*/
}

h1, h2, h3, p, li {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: solid;
    color: #cbf3f0;
    font-weight: bold;
}

/*HEADER*/

.logo {
    text-align: center;
    color: #ff9f1c;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 2%;
    padding-top: 1%;
}

/* PAGINA DE INICIO */

body {
    background-color: #ffffff;
}

.categories, footer {
    background-color: #ffbf69;
    color:#ffffff;
    padding: 2% 1%;
    text-align: center;
}

footer {
    margin-top: 2%;
}

.card-img {
    width: 320px;
    height: auto;
}

.card {
    width: 320px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    background-color: aliceblue;
}

.card-content {
    padding: 15px;
}
.card-button, .back-button {
    text-decoration: solid;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:small;

    display: inline-block;
    padding: 10px 20px;
    background-color: #2ec4b6;
    color: white;
    border-radius: 5px;
}

.back-button {
    margin: 1% 25% 1% 0%;
}

.title {
    color: #ffffff;
}


/*GUASACACA RECIPE PAGE*/

.recipe-img {
    display: block;
    max-height: 320px;
    width: auto;
    align-content: center;
    margin-left: 5%;
}

.recipe-img-papelon {
    margin-left: 7%;
    margin-right: 25%;
}

.Description, .steps {
    background-color: #ffbf69;
    padding: 1% 25%;
    margin-bottom: 2%;
    align-content: center;

}
.h2-txt {
text-align: center;
color: #ffffff;
}

.ingredients {
    align-content: center;
    padding: 1% 25%;
}
